@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  outline-style: none;
  margin: 0;
  padding: 0;
}

.table {
  height: 100vh;
  background-color: #11730e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: none;
}
.my-card {
  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 10px;
}
.header-card {
  height: 150px;
  font-size: 80px;
  text-align: left;
  line-height: 100px;
  padding-top: 20px;
}
.center-card {
  height: 150px;
  text-align: center;
  font-size: 80px;
  padding-top: 20px;
}
.footer-card {
  height: 150px;
  font-size: 80px;
  line-height: 100px;
  padding-top: 20px;
  transform: rotate(180deg);
}

span.numero {
  font-size: 100%;
  line-height: 100px;
}
